@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap&subset=korean');

/* ---------------------------------
RESET CSS
--------------------------------- */
html, body,
div, p, span, strong, b, em, iframe, pre,
h1, h2, h3, h4, h5, h6, img, dl, dt, dd,
fieldset, form, legend, label, table, caption, thead, tbody, tfoot, tr, th, td,
ul, ol, li, a, input, select, textarea, button{margin:0; padding:0; border:0 none; font-family:'Noto Sans KR', AppleGothic, sans-serif, Arial; line-height:1.2;}
ul, ol, li{list-style:none;}
em, address{font-style:normal;}
img{width:100%; border:0 none; font-size:0; line-height:0;}
sup{position:relative; top:2px; font-size:11px; line-height:100%;}
table{border-collapse:collapse; border-spacing:0;}
caption{overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
th, td{vertical-align:middle; /* white-space: nowrap */}
a{color:inherit; text-decoration:none; line-height:1;}
a:hover, a:focus, a:active{text-decoration:none;}
a:visited{color:inherit;}
*, html{box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
*, *:before, *:after{box-sizing: border-box;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
button{background:none; border:none;}
input{-webkit-appearance:none; -moz-appearance:none; appearance:none;}
textarea{-webkit-appearance:none; -moz-appearance:none; appearance:none;}


/* ---------------------------------
LAYOUT CSS
--------------------------------- */
html, body{height:100%;}
a:focus{outline: none;}
.sec_tit{font-size: 14px;}

/* ν—¤λ” */
#header h1{width:80px; display: inline-block; position: fixed; top: 55px; left: 55px; z-index: 997;}
#header h1 a{display:inline-block; padding:10px 0;}
.overlay {position: fixed; top: 0; left: 0; z-index: 9; width: 100%; height: 0%; opacity: 0; background: #000; visibility: hidden; -webkit-transition: all .2s; transition: all .3s; overflow: hidden; z-index: 998;}
.overlay.open {visibility: visible; opacity: .9; height: 100%;}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay nav{position: relative; top:55%; height: 50%; font-size: 40px; font-weight: 800; display: flex; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.overlay ul {position: relative; height: 100%; margin: 0 auto; display: inline-block;}
.overlay ul li {position: relative; display: block;height: 25%; height: calc(100% / 4); min-height: 50px; opacity: 0;}
.overlay ul li a{position: relative; display: block; color: #FFF;}
.overlay ul li:hover a{animation: text-shadow 1s ease-in-out;}

@keyframes text-shadow {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #000, 
            0 0 0 #222, 
            0 0 0 #444, 
            0 0 0 #666;
    }

    20% {  
        transform: translateY(-0.25em);
        text-shadow: 
            0 0.125em 0 #000, 
            0 0.25em 0 #222, 
            0 -0.125em 0 #444, 
            0 -0.25em 0 #666;
    }

    40% {  
        transform: translateY(0.1em);
        text-shadow: 
            0 -0.0625em 0 #000, 
            0 -0.125em 0 #222, 
            0 0.0625em 0 #444, 
            0 0.125em 0 #666;
    }
    
   60% {
        transform: translateY(-0.05em);
        text-shadow: 
            0 0.03125em 0 #000, 
            0 0.0625em 0 #222, 
            0 -0.03125em 0 #444, 
            0 -0.0625em 0 #666;
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 #000, 
            0 0 0 #222, 
            0 0 0 #444, 
            0 0 0 #666;
    }
}

@-webkit-keyframes fadeInRight {
  0% {opacity: 0; left: 20%;}
  100% {opacity: 1; left: 0;}
}

@keyframes fadeInRight {
  0% {opacity: 0; left: 20%;}
  100% {opacity: 1; left: 0;}
}

.hamburger{float: right; display: inline-block; padding: 7px 0; cursor: pointer; position: fixed; top: 55px; right: 55px; z-index: 999;}
.hamburger .bar {width: 30px; height: 2px; background-color: #fff; display: block; margin: 8px auto; 
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.hamburger.active{
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
    -webkit-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.hamburger.active .bar:nth-child(2){width: 0px;}
.hamburger.active .bar:nth-child(1),
.hamburger.active .bar:nth-child(3){
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.hamburger.active .bar:nth-child(1){
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -o-transform: translateY(8px);
    transform: translateY(8px);
}
.hamburger.active .bar:nth-child(3){
    -webkit-transform: translateY(-12px) rotate(90deg);
    -ms-transform: translateY(-12px) rotate(90deg);
    -o-transform: translateY(-12px) rotate(90deg);
    transform: translateY(-12px) rotate(90deg);
}

/* ν‘Έν„° */
#footer{text-align: center; margin: 100px 0 0;}
#footer a{display: inline-block; width: 80px; }
#footer p{font-size: 14px; margin-top: 10px; font-weight: 100;}