@charset "utf-8";

/*header*/
html,body{background: #e7e7e7}
#header{background: url(../images/about_bg.jpg) no-repeat center; background-size: cover; background-attachment: fixed; position: relative; }
.main_text{position: absolute; top: 55%; left: 60%; transform: translate(-50%, -50%)}
.main_text h1{font-size: 170px; color: #013b7c; font-family: 'Do Hyeon', sans-serif; letter-spacing: 70px;  }
.main_text h1:last-of-type{border-bottom: 6px solid #fff100}
.main_text h2{font-size: 30px; font-weight: 800; text-indent: 120px; margin-top: 40px; margin-bottom: 20px; }
.main_text p{font-size: 20px;  line-height: 35px; text-indent: 120px; }
.point .circle{bottom: 450px; right: 14%; }

.about_top{text-align: left; margin: 80px 0 30px 70px; }
.about_top>h1{font-size: 36px; font-style: oblique; font-family: 'Do Hyeon'; color: #fff; display: inline-block; text-transform: uppercase; letter-spacing: 3px; line-height: 36px; padding-left: 55px; padding-right: 55px; margin-bottom: 20px; background: url(../images/about_top1.png) no-repeat center; background-size: cover; }

#profile{background: url(../images/profile_bg.png) no-repeat center; background-size: cover; width: 100%; height: 1100px; }
#profile .inner{padding-top: 130px;  }
.profile_left{width: 50%; float: left; text-align: right; }
.profile_right{width: 50%; float: right; text-align: center; padding-right: 90px; }
.profile_left img{display: inline-block; width: 90%; margin-left: 110px; }

.info{border-top: 1px solid #333; border-bottom: 1px solid #333; color: #555; font-size: 15px; width: 500px; display: inline-block; text-align: left;}
.info div ul{display: inline-block; padding: 20px;  }
.info div ul li{margin: 10px 0; }
.info .u2{border-top: 1px solid #333; border-bottom: 1px solid #333; }
.info ul b{ margin-right: 20px; font-weight: 400; color: #dc3c40; }
.info .u2 b{margin-right: 37px; }
.info .u3 b{margin-right: 72px; }

#strength .about_top{text-align: center; margin: 30px; margin-top: 50px; }
#strength h5{font-size: 32px; text-transform: uppercase; font-family: 'Do Hyeon'; font-style: oblique; margin-bottom: 30px; }

.feature li{float: left; width: 23%; padding:0 2%; padding-left: 75px; }
.feature li:first-of-type{margin-left: 4%}
.feature li:last-of-type{margin-right: 4%}
.feature li h2{font-size: 30px; font-family: 'Do Hyeon'; font-style: oblique; color: #013b7c; display: inline-block; float: left; padding-top: 40px; margin-right: 20px; }
.feature li h1{display: inline-block; font-size: 72px; color: #333; font-family: 'Do Hyeon'; font-weight: 100; }
.feature li h1 b{font-size: 30px; font-weight: 100; margin-left: 10px; }
.feature li p{width: 80%; font-size: 16px; line-height: 20px;  }

.strength_bottom{margin-top: 100px; }
.skills{width: 50%; height: 400px; float: left; font-size: 16px; }
.skills .skill_wrap{width: 80%; height: 30px; margin-bottom: 50px; float: left; background: #fff; margin-left: 10%; }
.skills .skill_wrap:first-of-type{margin-top: 20px; }
.skills .graph{width: 100%; height: 30px;  }
.skills .graph .bar{width: 0%; height: 30px; background: #fff100}
.skills .graph_text li:first-child{float: left; margin-top: 5px; }
.skills .graph_text li:last-child{float: right; margin-top: 5px;}

.tools{width: 50%; float: right; }
.tools ul{width: 100%; font-size: 16px; height: 450px; text-align: center; }
.tools ul li{float: left; display: inline-block; margin-bottom: 20px; }
.tools ul li img{width: 120px; margin:0 50px; }

#experience{background: #fff; padding-top: 50px; position: relative; }
#experience .about_top{text-align: center; margin: 30px;  }

.ex_text{width: 100%; height: 750px; position: relative; }
.ex_text li{display: inline-block; position: absolute; }
.ex_text li h1{font-size: 450px; font-family: 'Do Hyeon'; letter-spacing: 13px; font-style: oblique; color: #e7e7e7; }
.ex_text li:first-of-type{top: -130px; }
.ex_text li:last-of-type{top: 280px; right: 0;  }

.ex_img{height: 100px; }
.ex_img li{width: 400px; position: absolute; top: 25.5%; z-index: 999; display: inline-block; }
.ex_img li:nth-child(1){left: 14%; }
.ex_img li:nth-child(2){left: 39.5%; }
.ex_img li:nth-child(3){right: 14% }
.ex_img li h2{font-size: 28px; color: #333; position: absolute; top: -30px; }
.ex_img li h2 b{font-size: 50px; font-family: 'Do Hyeon'; margin-right: 10px; color: #013b7c}

.ex_mask{width: 400px; height: 540px; background: rgba(0,0,0,.6); position: absolute; top: 0; display: none; }
.ex_mask p{color: #eee; margin: 5%; width: 90%; height: 90%; border: 1px solid #fff; margin-top: 6.5%; line-height: 24px; padding: 5%; font-size: 16px; }
.ex_mask p span{color: #fff100; }

.ex_img li:hover .ex_mask{display: block; }
.ex_img li:hover h2{top: -60px; transition: all .5s;  }
.ex_img li:hover h2 b{color: #fff100}

#dream{width: 100%; height: 450px; background: #013b7c; margin-top: 100px; }
.dream_left{width: 65%; height: 400px; float: left; }
.dream_left{color: #fff; padding: 50px; line-height: 26px;  }
.dream_left h1{font-size: 36px;  }
.dream_left p{font-size: 16px; margin-top: 50px; }
.dream_left p b{color: #fff100; font-weight: 100}

.dream_right{width: 35%; height: 400px; float: right; position: relative; }
.dream_right img{position: absolute; bottom: -50px; width: 500px; right: 0;  }





