@charset "utf-8";
/*web font*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
/*reset*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    box-sizing: border-box; 
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
ul,ol {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration:none;
	color:inherit;
}
table {
    border-collapse: collapse; border-spacing: 0;
}
input,select{vertical-align: middle; border: 0; outline: 0; appearance:none; border-radius: 0;}
button{border: 0; outline: 0; cursor: pointer;}
.clearfix::before{content:''; display:block;}
.clearfix::after{content:''; display:block; clear:both;}
*,*::after, *::before{box-sizing: border-box; }
img,video{border:0; max-width: 100%;}

/*common*/
html,body{font-family: 'Nanum Gothic', sans-serif; font-size: 13px; background: #f4f4f4; }
.content_inner{padding: 30px 20px; }


/*header*/
.header_inner{position: fixed; top: 0; left: 0; width: 100%; height: 50px; z-index: 99; }
.logo_wrap{background:transparent; padding:5px 10px; padding-top: 7px;}
.logo_wrap img{display: inline-block; width:25%; max-width: 100px; }
.open_wrap{position: absolute; top: 5px; right: 10px; }
.open_wrap button{width:40px; height:40px; background:none;}
.open_wrap span{display: inline-block; width: 30px; height: 1px; background: #000; border-radius: 2px;  }
.open_wrap span:nth-of-type(1){margin-bottom: 4px; }
.open_wrap span:nth-of-type(2){margin-bottom: 6px; }
.open_wrap span:nth-of-type(3){margin-bottom: 8px;  }

.menu_wrap{position: fixed; right:-100%; top:0; width: 250px; height: 100%; background:#fff; z-index:999; color:#000; transition: right 0.3s ease-out; box-shadow: 2px 0 10px rgba(0,0,0,.3); }
.top_logo{width: 200px; margin: 0 auto; margin-top: 20px; cursor: pointer; }
.top_text{margin: 10px 0 30px 40px;}

#navi{margin: 0 auto; line-height: 40px; text-align: center; }
#navi a{display: block; }
#navi .gnb{border-bottom: 1px solid #eee; position: relative; padding: 0 10px; }
#navi>ul{margin-bottom: 100px; }
#navi .gnb::after{content: ''; display: block; width: 0%; height: 2px; border-radius: 5px; background: rgba(0,78,161,.9) ; position: absolute; top: 47%; left: 33%; }
#navi .sub{display: none; background: #f6f6f6; }
#navi .gnb:hover::after{width: 33%; transition: all .6s}
#navi .sub>li:hover{color: #004ea1}

.overlay{width: 100%; height: 100%; background: rgba(0,0,0,.7); position: fixed; top: 0; z-index: 98; display: none; }
.close_wrap{width: 30px; height: 30px; position: absolute; top: 65px; right: 265px; cursor: pointer; }
.close_wrap span{width: 30px; height: 1px; background: #fff; position: absolute; top: 15px; }
.close_wrap span:nth-of-type(1){transform: rotate(315deg); }
.close_wrap span:nth-of-type(2){transform: rotate(-315deg); }

/*addClass*/
body.on{overflow-y: hidden; }
.menu_wrap.on{right:0; overflow-y: scroll; }
.overlay.on{display: block; }
.header_inner.fixed .logo_wrap{background: rgba(255,255,255,.95); border-bottom: 1px solid #eee; }
.header_inner.fixed #navi .gnb{color: #000;  }

/*content1*/ /*slide*/
.slide-back{max-width: 100%; height: 100vh; min-height: 500px; }
.slide1{background: url(../image/main1.jpg) no-repeat center; background-size: cover; }
.slide2{background: url(../image/main2.jpeg) no-repeat center; background-size: cover; }
.slide3{background: url(../image/main3.jpg) no-repeat center; background-size: cover; }
.main_slide .swiper-pagination-bullet-active{width: 25px; border-radius: 25px; transition: all .5s; background: rgba(255,255,255,0.7); }
.main_slide .swiper-button{background-image: none; }
.main_slide .trim-button1 {width: 20px; height: 2px; background: rgba(255,255,255,0.7); display: block; transform: rotate(45deg); margin-top: 11px}
.main_slide .trim-button2 {width: 20px; height: 2px; background: rgba(255,255,255,0.7); display: block; transform: rotate(-45deg); margin-top: 11px}
.main_slide .swiper-button-prev .trim-button1{transform: rotate(135deg); margin-left: 8px; }
.main_slide .swiper-button-prev .trim-button2{transform: rotate(-135deg); margin-left: 8px;}

.main_slide .swiper_text{background: rgba(0,0,0,.3); height: 200px; position: absolute; bottom: 7%; color: #fff; width: 100%; z-index: 9}
.main_slide .swiper_text>img{width: 200px; display: none; margin-left: 12%; margin-top: 15px; }
.main_slide .swiper_text>.text{display: none; margin-left: 12%; }
.main_slide .swiper_text>.text .title{font-size: 30px; margin: 10px 0; }
.main_slide .swiper_text>.text p{line-height: 20px; }
.main_slide .swiper_text .swiper_text_sub{width: 365px; height: 200px; background: rgba(0,0,0,.5); position: absolute; top: 0; width: 100%; }
.main_slide .swiper_text .swiper_text_sub>.text{float: right; margin-top: 30px; margin-right: 70px; }
.main_slide .swiper_text .swiper_text_sub>.text1{margin-right: 30px;}
.main_slide .swiper_text .swiper_text_sub .title{font-size: 26px; margin-bottom: 20px; }
.main_slide .swiper_text .swiper_text_sub .data p:last-child{margin-top: 10px; margin-bottom: 20px;}
.main_slide .swiper_text .swiper_text_sub a{background: #000; padding: 5px 10px; font-size: 12px; }
.main_slide .swiper_text .swiper_text_sub a:hover{color: #000; background: #eee; transition: all .5s; }
.main_slide .swiper_text .swiper_text_sub img{width: 65px; float: right; margin-top: 30px; margin-right: 30px; }

/*content2*/ /*program*/
.content2{height: 600px; background: #eee; overflow: hidden; position: relative; }
.content2>ul{position: relative;  }
.content2>ul>li{position: absolute; top: 0; left: 100%; width: 100%; min-height: 600px;  background-size: cover;  }
.content2>ul>li:first-child{left: 0; }

.program1{background: url(../image/program1.jpg) center center; }
.program2{background: url(../image/program2.jpg) center center; }
.program3{background: url(../image/program3.jpg) center center; }
.program_text{color: #fff; }
.program_text h1{font-size: 35px; font-weight: 700; margin-top: 30px; }
.program_text h3{font-size: 18px; font-weight: 400; margin-top: 20px; margin-bottom: 100px; }
.program_text h2{font-size: 24px; font-weight: 400; margin-bottom: 20px; }
.program_text p{line-height: 20px; }
.more{display: inline-block; padding: 5px 20px; background: rgba(0,0,0,.7); margin-top: 50px; border: 1px solid rgba(255,255,255,.3);  }
.more:hover{color: #000; background: rgba(255,255,255,.7); transition: all .5s; }

.play{width: 220px; height: 70px; position: absolute; top: 155px; left: 20px; }
.play>div{display: inline-block; border-radius: 50%; border: 2px solid rgba(255,255,255,1); width: 50px; height: 50px; cursor: pointer; margin-top: 10px; margin-right: 15px; }
.play span{display: block; width: 15px; height: 1px; background: #fff; margin-top: 9px;}
.play .left span{margin-left: 13px; }
.play .left .play1{transform: rotate(135deg); margin-top: 16px;  }
.play .left .play2{transform: rotate(-135deg); }
.play .right span{margin-left: 16px; }
.play .right .play1{transform: rotate(45deg); margin-top: 16px; }
.play .right .play2{transform: rotate(-45deg); }

/*content3*/ /*event*/
.content3{width: 100%; height: 1550px; background: #f4f4f4; position: relative; }
.event_bg{width: 95%; height: 350px; background: #191919; position: absolute; top: 100px; }
.event_inner{position: absolute; color: #fff; width: 100%; margin: 0 auto; }
.row{width: 345px; margin: 0 auto; margin-bottom: 30px; padding: 20px; cursor: pointer; }
.category{display: inline-block; padding: 5px 20px; border-radius: 15px; border: 1px solid #fff; font-weight: 400; }
.event_title{font-size: 22px; font-weight: 400; margin-top: 10px; line-height: 30px; }
.row1 img{width: 200px; }
.row1 p:first-of-type{margin-top: 10px; line-height: 30px;  }
.row1 .category{float: right; margin-top: 70px; }
.row2{border: 1px solid #d1d1d1;  color: #191919; }
.row2 .category{border: 1px solid #191919; }
.row3{background: url(../image/event1.jpg) center center no-repeat; height: 200px; }
.row4{background: url(../image/event2.jpg) center center no-repeat; height: 200px; }
.row5{background: url(../image/event3.jpg) center center no-repeat; height: 400px; }
.row:hover h4{font-size: 1.8rem; transition: all .5s}

/*content4*/ /*insta*/
.content4{background: #f4f4f4; height: 100% ; }
.insta_category{display: none; }
.insta{width: 100%; height: 100%; min-height: 800px; background: #fff; padding: 20px; }
.insta_left h1{font-size: 30px; font-weight: 400; line-height: 35px;  }
.insta_left h1:last-of-type{font-weight: 700; padding-left: 28px; }
.insta_left a{background: #e7bb58; color: #fff; padding: 5px 15px; border-radius: 15px; font-size: 11px; float: right; margin-top: 30px; }
.insta_left .insta_text{margin-top: 90px; border-top: 1px solid #aeaeae; border-bottom: 1px solid #aeaeae; padding: 20px 10px; }
.insta_left .insta_text h5{color: #ce5d61; margin-bottom: 20px; font-size: 16px; }
.insta_left .insta_text p{color: #606060; line-height: 20px; }
.insta_right{text-align: center; }
.insta_right img{display: inline-block; }
.insta_right>img{margin-top: 20px; }
.insta_right .icon{padding: 15px; text-align: left; max-width: 350px; margin: 0 auto; }
.insta_right .icon img{height: 25px; margin-left: 15px;  }
.insta_right .icon img:first-of-type{margin: 0; }
.insta_right .icon img:last-of-type{float: right; }
.insta_category{padding: 50px 20px; text-align: center; height: 100%;  min-height: 400px; }
.insta_category h2{font-size: 26px; }
.insta_category h2:last-of-type{font-weight: 400;  }
.insta_category p{margin: 70px 0; line-height: 20px; }
.insta_category span{display: inline-block; background: #b8b8b8; padding: 5px 15px; border-radius: 15px; font-size: 11px; color: #fff; width: 130px; text-align: center; margin-bottom: 10px; cursor: pointer}
.click span.it{background: #e7bb58;}


/*footer*/
#footer{height: 350px; background: #f4f4f4; margin: 0 auto; margin-top: 50px;  }
.footer_inner{margin: 0 auto; text-align: center; border-top: 1px solid rgba(11,76,147,.6); border-bottom: 1px solid rgba(11,76,147,.6); height: 92%; font-size: 11px; color: #444; }
.footer_left img{width: 200px; }
.footer_center a{display: inline-block; margin-top: 20px; margin-bottom: 20px; }
.footer_center .red{color: #d9434e}
.footer_center p{line-height: 15px; }
.footer_center p:last-of-type{margin-bottom: 20px; }
.footer_right img{width: 40px; display: inline-block; margin-right: 10px; cursor: pointer; }
.footer_right img:last-of-type{margin-right: 0; }

/*mobile plus*/
@media screen and (min-width:600px){
    .content3{height: 1000px; }
    .event_bg{height: 300px; }
    .row1{width: 100%; height: 370px; }
    .row1 img{float: left; width: 230px; }
    .row1 .category{float: left; margin-left: 20px; margin-right: 100px; }
    .row1_text{float: left; margin-top: 50px; margin-left: 20px}
    .row2{width: 100%; }
    .row2 h4{text-align: center; }
    .row3{float: left; width: 50%; }
    .row4{float: left; width: 50%; }
    .row5{float: right; width: 47%; height: 430px; }
    
}

/*tablet*/
@media screen and (min-width:768px){
    .main_slide .swiper_text>img{display: block; }
    .main_slide .swiper_text>.text{display: block; }
    .main_slide .swiper_text .swiper_text_sub{width: 350px; right: 10%; }
    .content3{height: 820px; }
    .event_bg{width: 59%; height: 320px; }
    .event_title{font-size: 26px; line-height: 35px; }
    .row1{width: 62%; float: left; }
    .row1 .category{margin-top: 80px; margin-right: 50px;  }
    .row1 h4{margin-bottom: 20px; }
    .row1 p:last-child{font-size: 16px; margin-top: 10px; }
    .row1_text{width: 38%; margin-top: 15px; }
    .row2{float: right; width: 38%; margin-top: 70px; height: 200px; }
    .row3{width: 29%; margin-right: 2%; height: 300px; }
    .row4{width: 29%; height: 300px;}
    .row5{width: 38%; height: 400px;}
    .row:hover h4{font-size: 2.1rem; transition: all .5s}
    .content4{min-height: 550px; }
    .insta{min-height: 400px; }
    .insta_category{min-height: 455px;}
    .insta_left{float: left; width: 48%;  }
    .insta_right{float: right; width: 48%; }
    .insta_right{margin-top: 60px; }
    .insta_right>img{max-width: 273px; }
    #footer{height: 165px; margin-top: 30px; margin-bottom: 20px;  }
    .footer_left{float: left; width: 25%; }
    .footer_center{float: left; width: 50%;}
    .footer_center a{margin-top: 5px; }
    .footer_right{float: right; width: 25%;}
    .footer_right img{width: 40px; margin-top: 20px; }
}

/*notebook*/
@media screen and (min-width:960px){
    .content_inner{padding: 50px 10% }
    .logo_wrap{padding-left: 10%; height: 50px; }
    .logo_wrap img{position: fixed; z-index: 9999999}
    .open_wrap{display: none; }
    .menu_wrap{right:0; top:0px; width: 100%; height: 50px; background:transparent;  box-shadow: none; }
    .info_wrap{position: absolute; top: 80px; left: 10%; height: 0; overflow: hidden; }
    .top_text{margin: 15px 0 30px 15px; line-height: 20px; }
    #navi{width: 60%; position: absolute; left: 35%; top: 5px; }
    #navi .gnb{border-bottom: none; float: left; width: 100%; margin-right: 10px; color: #fff; }
    #navi>ul{margin-bottom: 0; }
    #navi .gnb::after{left: 20%; }
    #navi .sub{background: transparent; margin-top: 50px; }
    #navi>ul>li{float:left; width:19%; }
    #navi .gnb:hover::after{width: 60%; transition: all .6s}
    #gnb_bg{width: 100%; height: 300px; background: rgba(255,255,255,.95); position: fixed; z-index: 95; display: none; }
    /*add class*/
    .header_inner.on .logo_wrap{background: #fff; border-bottom: 1px solid #eee; }
    .header_inner.on .menu_wrap{height: 300px; }
    .header_inner.on .info_wrap{height: 100%; transition: all 1s;  }
    #navi.on .gnb{color: #000}
    .content2{height: 900px; }
    .content2>ul>li{min-height: 900px;}
    .program_text h1{font-size: 54px; margin-top: 70px; }
    .program_text h3{font-size: 26px; margin-top: 25px; margin-bottom: 200px; }
    .program_text h2{font-size: 40px; margin-bottom: 60px; }
    .program_text p{line-height: 25px; font-size: 16px; }
    .more{margin-top: 70px; }
    .play{left: 10%; top: 300px; }
    .event_bg{width: 58%; max-width: 815px; }
    .row1 .category{margin-top: 55px; margin-right: 100px; }
    .row1 img{margin-left: -15px; }
    .row2{float: right; width: 38%; margin-top: 50px; height: 200px; max-width: 380px;}
    .row3{width: 29%; margin-right: 2%; height: 300px; max-width: 380px;}
    .row4{width: 29%; height: 300px; max-width: 380px;}
    .row5{width: 38%; height: 420px; max-width: 380px; }
    .content3{height: 780px; }
    #footer{height: 180px; margin-top: 30px; margin-bottom: 20px; }
    #footer .content_inner{padding: 30px 10%; }
    .footer_right img{margin-top: 25px; }
    
}

/*pc*/
@media screen and (min-width:1024px){
    .main_slide .swiper_text>img{float: left; margin-left: 10%; margin-top: 40px; width: 220px; }
    .main_slide .swiper_text>.text{float: left; margin-left: 2%; margin-top: 40px; }
    .insta_category{display: block; background: #fff; width: 25%; float: left; }
    .swiper-container.instagram{float: right; width: 74%; }
    
}

/*pc plus*/
@media screen and (min-width:1200px){
    .main_slide .swiper_text>img{width: 300px; margin-top: 30px; margin-left: 15%; }
    .main_slide .swiper_text .swiper_text_sub{right: 12%; }
    .content_inner{padding: 50px 12%; }
    .play{left: 12% }
    .event_bg{max-width: 845px; }
    .row1 .category{margin-right: 190px; }
    .row1_text{width: 52%; }
    .insta_category{width: 23%; }
    .swiper-container.instagram{width: 73%; }
    .insta{min-height: 550px; }
    .insta_left h1{margin-left: 30px;}
    .insta_left h1:first-of-type{margin-top: 30px;  }
    .insta_left .insta_text{margin-top: 120px; text-indent: 10px;  }
    .insta_right>img{min-width: 300px; margin-top: 60px; }
    .insta_category{min-height: 550px; width: 240px;  }
    .insta_category span:first-of-type{margin-top: 50px; }
    
}

/*pc plus plus*/
@media screen and (min-width:1500px){
    .main_slide .swiper_text>img{margin-left: 18%; }
    .main_slide .swiper_text .swiper_text_sub{right: 18%; }
    .content_inner{padding: 50px 18%; }
    .play{left: 18% }
    .event_bg{max-width: 1500px; width: 56.5%; }
    .row1 .category{margin-left: 30px; }
    .row1_text{margin-left: 30px; }
}

/*pc plus plus*/
@media screen and (min-width:1800px){
    .main_slide .swiper_text>img{margin-left: 21%; }
    .main_slide .swiper_text .swiper_text_sub{right: 21%; }
    .content_inner{padding: 50px 21%; }
    .play{left: 21% }
    .event_bg{max-width: 1500px; width: 55.8%; }
}
